@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* html{
    overflow-x: hidden;
} */

.overlay {
	@apply fixed h-screen w-full bg-black opacity-50 z-10;
}

.btn {
	@apply inline-flex bg-white items-center px-4 py-2 shadow-md border border-transparent rounded-full font-bold text-xs uppercase tracking-widest disabled:opacity-25 transition;
}

.btn-primary {
	@apply bg-primary-500 text-white;
}

.btn-primary:hover {
	@apply bg-primary-600;
}

.btn-primary:focus {
	@apply bg-primary-700 outline-none ring-transparent;
}


.btn-success {
	@apply bg-green-500 text-white;
}

.btn-success:hover {
	@apply bg-green-600;
}

.btn-success:focus {
	@apply outline-none ring ring-green-300 border-green-700;
}

.btn-info {
	@apply bg-blue-500 text-white;
}

.btn-info:hover {
	@apply bg-blue-600;
}

.btn-info:focus {
	@apply outline-none ring ring-blue-300 border-blue-700;
}

.btn-purple {
	@apply bg-purple-500 text-white;
}

.btn-purple:hover {
	@apply bg-purple-600;
}

.btn-purple:focus {
	@apply outline-none ring ring-purple-300 border-purple-700;
}

.btn-danger {
	@apply bg-red-500 text-white;
}

.btn-danger:hover {
	@apply bg-red-600;
}

.btn-danger:focus {
	@apply outline-none ring ring-red-300 border-red-700;
}

.btn-secondary {
	@apply bg-secondary-500 text-white;
}

.btn-secondary:hover {
	@apply bg-secondary-400;
}

.btn-secondary:focus {
	@apply outline-none ring ring-secondary-300 border-secondary-700;
}

.btn-light {
	@apply bg-gray-200 text-gray-800 shadow-none;
}

.btn-light:hover {
	@apply bg-gray-300;
}

.btn-light:focus {
	@apply outline-none ring ring-gray-100 border-gray-400;
}

.badge {
	@apply inline-flex items-center justify-center px-3 py-1 text-xs uppercase font-bold leading-none text-white rounded-full;
}

.tabs-component-tabs {
	@apply flex flex-col md:flex-row border-b;
}

.tabs-component-tab {
	@apply px-6 py-4 border-b md:border-b-0;
	font-family: "Poppins", sans-serif;
}

.tabs-component-tab.is-active {
	@apply border-b-2 border-primary-500 font-medium;
}

.checkbox {
    @apply rounded border-gray-300 text-primary-600 shadow-sm focus:border-primary-300 focus:ring focus:ring-primary-200 focus:ring-opacity-50;
}

